@font-face {
    font-family: FastTitreFont;
    src: url('fonts/quickynick.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: FastFont;
    src: url('fonts/Kanit-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: FastFontContenu;
    src: url('fonts/Kanit-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

html{
    background-color: rgba(0, 0, 0, 0.85);
    color: rgb(255, 255, 0);
    font-family: FastFont;
}

nav {
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    border-bottom: 1px;
    border-bottom-color: yellow;
    border-bottom-style: solid;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    transition: transform .2s;
}

ul img{
    max-width: 55px;
}

/* Ecran Tablette */
@media (min-width: 600px) {
    ul img {
        max-width: 100px;
    }
}

/* Ecran Ordianteur */
@media (min-width: 1000px) {
    ul img {
        max-width: 150px;
    }
}

ul li a {
    text-decoration: none;
    color: rgb(255, 255, 0);
}

/* Ecran Mobile*/
.elements-nav{
    padding: 5px;
    font-size: 0.6ch;
    width: 50px;
    margin: auto;
    text-align: center;
}

/* Ecran Tablette */
@media (min-width: 600px) {
    .elements-nav {
        padding: 20px;
        font-size: 1.3ch;
        width: auto;
    }
}

/* Ecran Ordianteur */
@media (min-width: 1000px) {
    .elements-nav {
        padding: 50px;
        font-size: 1.8ch;
    }
}

ul li a:hover {
    color: rgba(255, 255, 0, 0.548);
}

ul li{
    transform: scale(1);
}

ul li:hover{
    transform: scale(1.2);
    transition: all 0.1s ease-in-out 0.1s;
}

h1{
    font-family: FastFontContenu;
    font-size: 1.6ch;
    background-color: rgba(0, 0, 0, 0.329);
}

h1 img{
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
}
  
.box :first-child {
    align-self: center;
}

/* Ecran Ordianteur */
@media (min-width: 600px) {
    .presentoire {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px 2em;
    }

    h1 img{
        border-right: 2px;
        border-right-color: yellow;
        border-right-style: solid;
    }
}

@media (min-width: 1000px) {
    .presentoire {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px 2em;
    }

    h1 img{
        width: 60vh;
        border-right: 2px;
        border-right-color: yellow;
        border-right-style: solid;
    }
}

@media (min-width: 1200px) {
    .presentoire {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px 2em;
    }

    h1 img{
        width: 80vh;
        border-right: 2px;
        border-right-color: yellow;
        border-right-style: solid;
    }
}

.titre-texte-accueil{
    text-align: center;
    
}